@model ResponseViewModel<Demo.Core.Domain.DTOs.StudentDTO>

@{
    ViewData["Title"] = "EditStudent";
}

<h1>EditStudent</h1>

<h4>Edit Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data.StudentId" class="control-label"></label>
                <input asp-for="Data.StudentId" class="form-control" />
                <span asp-validation-for="Data.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Name" class="control-label"></label>
                <input asp-for="Data.Name" class="form-control" />
                <span asp-validation-for="Data.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Surname" class="control-label"></label>
                <input asp-for="Data.Surname" class="form-control" />
                <span asp-validation-for="Data.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Age" class="control-label"></label>
                <input asp-for="Data.Age" class="form-control" />
                <span asp-validation-for="Data.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
